# ===== IntelliJ / Android Studio =====
*.iml
.idea/
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
out/

# ===== Gradle =====
.gradle/
**/build/

# ===== Kotlin =====
.kotlin/

# ===== Local config =====
local.properties

# ===== Android tooling =====
captures/
.externalNativeBuild/
.cxx/

# ===== Build artifacts =====
*.apk
*.aab
*.class

# ===== Logs / crash dumps =====
*.log
*.hprof

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Optional: VS Code ===
